@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

img {
    max-width: 100%;
    padding: .5em;
}

header {
    background-color: #AED9E0;
    text-align: center;
}

header img {
    float: right;
}

body {
    font-family: "Zilla Slab", Arial, sans-serif;
}

h1,
h2 {
    font-family: "Playfair Display", Helvetica, serif;
}

footer {
    background-color: #AED9E0;
    text-align: center;
}

#currentdate {
    text-align: center;
}