@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
h1, h2 {
    font-family: "Playfair Display", Arial, serif;
}
body {
    font-family: "Zilla Slab", Helvetica, sans-serif;
}
#portal-home {
    max-width: 800px;
    margin: 0 auto;
}
header, footer {
    background-color: #AED9E0;
}
header img {
    padding: .5em;
}
header h1 {
    text-align: center;
    padding-left: 100px;
}
main {
    padding: 0 15px;
}
main h2 {
    border-bottom: 1px solid black;
}
#profile_picture {
    float: right;
}
footer {
    text-align: center;
}
footer p.copyright {
    margin-bottom: 10px;
}
footer p.lastUpdated {
    color: yellow;
    font-size: .8em;
    margin-top: 0;
}