@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
header {
    margin: 0 auto;
    text-align: center;
}
div {
    max-width: 200px;
}
img {
    margin: 0 auto;
}
body {
    font-family: "Source Sans Pro"
}
.signUpButton {
    margin: 0 auto;
    
}
.signUpButtonForBuisness {
    background-color: #ffcf2d;
    border: 1px #d8d8d8;
}
h1, h2 {
    font-color: #12aaeb;
}