@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
header {
    margin: 0 auto;
    text-align: center;
}
body {
    background-color: #eaeff3af;
}
section {
    max-width: 200px;
    border: 1px #d8d8d8;
    border-style: solid;
}
img {
    margin: 0 auto;
}
body {
    font-family: "Source Sans Pro"
}
.signUpButton {
    margin: 0 auto;
    box-shadow: #cbcbcb;
    border-style: solid;
    border-style: 1px #cbcbcb;
    
}
.signUpButtonForBuisness {
    background-color: #ffcf2d;
    box-shadow: #efc128;
    border-style: 1px #efc128;
}
h1, h2 {
    color:  #12aaeb;
}
.footer {
    box-shadow: #d1e8f8;
}
main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}