body {
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 10%;
    font-family: 'Ubuntu', sans-serif;
}
table {
    border: 1px solid grey;
    border-collapse: collapse;
    width: 300px;
}
td,th {
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
}
thead {
    text-align: center;
    font-size: 24px;
    background-color: #7fb9c2;
    color: black;
    font-weight: 500;
}
tbody {
    font-weight: 300;
}

#bodyHeader {
    text-align: center;
    background-color:#628ca6;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
tr:nth-child(even) {
    background-color: #e7f0ed;
}
tfoot {
    background-color: #7fb9c2;
    font-size: 12px;
}